nav, #offcanvasNavbar, footer {
    background: var(--bs-primaria);
}
.Arrow {
    opacity: 0;
    pointer-events: none;
    transition: all .2s;
}
.Arrow.active {
    pointer-events: auto;
    opacity: 1;
}